{% for label,messages in app.flashes %}
	{% for message in messages %}
		<div class="alert alert-{{ label }} alert-dismissible" role="alert">
			<button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
			<div class="alert-message">
				<strong>{{ message|raw }}</strong>
			</div>
		</div>
	{% endfor %}
{% endfor %}
