<footer class="container-fluid bg-light">
    <div class="row">
        <section class="col">colone 1</section>
        <section class="col">colone 2</section>
        <section class="col">colone 3</section>
    </div>
</footer>