{% extends 'base.html.twig' %}

{% block title %}Nouveau de mot de passe!
{% endblock %}

{% block body %}
	<section class="container my-3">
		<div class="row">
			<div class="col">
				<h1>Nouveau de mot de passe</h1>
				{{ form_start(passForm) }}
				{{ form_row(passForm.password) }}
				<button type='submit' class="btn btn-primary mt-2">Envoyer</button>
				{{ form_end(passForm) }}
			</div>
		</div>
	</section>
{% endblock %}
