<p>Bonjour {{ user.firstname }}{{ user.lastname }}</p>
<p>Pour votre demande de Réinitialisation de mot de passe, veuillez clique sur le lien suivant :<a href=" {{ url|raw }} ">{{ url|raw }}</a></p>
<p>Merci</p>
